code/DatabaseUtilities.Web.Client/Service References/ServerService/ServerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5804/ServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseUtilities.DAL" />
  <xs:element name="GetCachedSnapshot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCachedSnapshotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseUtilities.DAL" minOccurs="0" name="GetCachedSnapshotResult" nillable="true" type="q1:Snapshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>