code/DatabaseUtilities.Web.Client/Service References/ServerService/ServerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseUtilities.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseUtilities.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Snapshot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connections" nillable="true" type="tns:ArrayOfConnection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Snapshot" nillable="true" type="tns:Snapshot" />
  <xs:complexType name="ArrayOfConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Connection" nillable="true" type="tns:Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnection" nillable="true" type="tns:ArrayOfConnection" />
  <xs:complexType name="Connection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Databases" nillable="true" type="tns:ArrayOfDatabase" />
      <xs:element minOccurs="0" name="FullConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Connection" nillable="true" type="tns:Connection" />
  <xs:complexType name="ArrayOfDatabase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Database" nillable="true" type="tns:Database" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatabase" nillable="true" type="tns:ArrayOfDatabase" />
  <xs:complexType name="Database">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionId" type="xs:int" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataFilesSizeKb" type="xs:decimal" />
      <xs:element minOccurs="0" name="DatabaseConnectionId" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogFilesSizeKb" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoredProcedures" nillable="true" type="tns:ArrayOfStoredProcedure" />
      <xs:element minOccurs="0" name="Tables" nillable="true" type="tns:ArrayOfTable" />
      <xs:element minOccurs="0" name="Views" nillable="true" type="tns:ArrayOfView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Database" nillable="true" type="tns:Database" />
  <xs:complexType name="ArrayOfStoredProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedure" nillable="true" type="tns:StoredProcedure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedure" nillable="true" type="tns:ArrayOfStoredProcedure" />
  <xs:complexType name="StoredProcedure">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DatabaseObjectWithColumns">
        <xs:sequence>
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoredProcedure" nillable="true" type="tns:StoredProcedure" />
  <xs:complexType name="DatabaseObjectWithColumns">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ArrayOfColumn" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatabaseConnectionId" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Schema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseObjectWithColumns" nillable="true" type="tns:DatabaseObjectWithColumns" />
  <xs:complexType name="ArrayOfColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumn" nillable="true" type="tns:ArrayOfColumn" />
  <xs:complexType name="Column">
    <xs:sequence>
      <xs:element minOccurs="0" name="Default" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNullable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrimaryKey" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precision" type="xs:int" />
      <xs:element minOccurs="0" name="Scale" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Column" nillable="true" type="tns:Column" />
  <xs:complexType name="ArrayOfTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Table" nillable="true" type="tns:Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTable" nillable="true" type="tns:ArrayOfTable" />
  <xs:complexType name="Table">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DatabaseObjectWithColumns">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rows" type="xs:long" />
          <xs:element minOccurs="0" name="TotalSpaceKb" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="ArrayOfView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="View" nillable="true" type="tns:View" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfView" nillable="true" type="tns:ArrayOfView" />
  <xs:complexType name="View">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DatabaseObjectWithColumns">
        <xs:sequence>
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="View" nillable="true" type="tns:View" />
</xs:schema>